@import "../../vars.css";
.container {
  display: flex;
  flex-direction: column;
}
.cityNameLabel {
  margin-bottom: 5px;
}
.cityNameInput {
  padding: 5px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}
